<extends src="layout.html">
  <block name="content">
    <p><strong class="jaffa">7&nbsp;AM to 5&nbsp;PM</strong>, Monday through Thursday, and &nbsp;<strong class="jaffa">7&nbsp;AM to 4&nbsp;PM</strong> on <strong class="jaffa">Fridays</strong>.</p>
    <p>We are located on the <em class="jaffa">second&nbsp;floor</em> of <strong class="jaffa">1910&nbsp;Pacific&nbsp;Ave</strong>.</p>
    <p><a class="hover-white white-60" href="https://goo.gl/maps/ewuyyqN1zQQ2">Get Directions</a></p>
  </block>

  <block name="javascript">
  </block>
</extends>
