/* purgecss start ignore */
@tailwind base;

body {
  @apply bg-iroko text-white;
}

p {
  @apply leading-9 mb-6 text-2xl;
}

header::after {
  background:#fff;
  content: " ";
  display: block;
  height: 8px;
  left: 2rem;
  position: absolute;
  bottom: 0;
  width: 8em;
}

#content a {
  @apply text-jaffa underline;
}

#content a.button {
  @apply bg-jaffa font-bold inline-block not-italic text-white no-underline;
}

#content h2 {
  @apply mb-6 text-3xl;
}

@screen lg {
  p {
    @apply leading-relaxed text-3xl;
  }
}

@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
