/* purgecss start ignore */
@tailwind base;

body {
  @apply bg-iroko text-white;
}

a {
  @apply underline text-jaffa;
}

header::after {
  background:#fff;
  content: " ";
  display: block;
  height: 8px;
  left: 2rem;
  position: absolute;
  bottom: 0;
  width: 8em;
}

#content p {
  @apply mb-6 leading-9 text-2xl;
}

@screen lg {
  #content p {
    @apply leading-relaxed text-3xl;
  }
}

@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
