.f4 { font-size: 4rem }

.white-05 { color: hsla(0, 0%, 100%, .05) }

.z--1 { z-index: -1 }

header:after {
  background: #fff;
  content: " ";
  display: block;
  height: 10px;
  left: 2rem;
  position: absolute;
  bottom: 0;
  width: 8em;
}

#index-page main {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

main p {
  margin-top: 0;

  &:last-child { margin-bottom: 0 }
}

[id$="content"] > *,
[id$="headline"] {
  font-range: 30em 90em;
  font-size: responsive 2.5em 6em;
}

[id$="headline"]:not(#index-headline) { display: none }

#taco-status {
  top: 25%;
  left: 95%;
  transform-origin: 0 0;
}

@media screen and (min-width: 48em) {
  nav {
    height: initial;
    min-height: initial;
  }

  main p:first-of-type { margin-top: .5rem }
}
