body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "nav";
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  @media screen and (min-width: 48em) {
    grid-template-areas:
      "header header"
      "nav main";
    grid-template-columns: 18em auto;
  }
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

nav {
  grid-area: nav;
}
